@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat' ,Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: black;
    color: white;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}


.logoimg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #B28756;
}

.menu-img{
    display: none;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: end;
}

.menu li,
.menu ul{
    padding: 0px;
    list-style: none;
}

.menu ul{
    display: flex;
}

.menu li a {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    padding: 0px 10px;
    height: 100px;
    display: flex;
    align-items: center;
    font-weight: 500;
    border-bottom: 5px solid transparent;
    
}

.menu li a.active{
    color: #B28756;
    border-bottom: 6px solid #B28756;
}

.menu li a:hover{
    border-bottom: 6px solid #B28756;
    color: #b28756ae;
}


.button{
    display: inline-block;
    background-color: #B28756;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
    font-weight: 600;
    text-decoration: none;
}



.banner{
    background-image: url(../imagens/bg.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 100px);
    overflow: hidden;
    background-attachment: fixed;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0, 0.8);
}

.banner .slideArea{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 45px;
}

.banner h1 span{
    color: #B28756;
}

.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .sliders--pointers{
    width: 100vw;
    height: 20px;
    margin-top: -50px;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #B28756;
    margin: 0px 5px;
    cursor: pointer;
}

.banner .pointer.active{
    background-color: #B28756;
}




.default{
    padding: 50px 0px;

}

.default .section-title, .default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 40px;
    color: #CCC;
}

.default .section-body{
    margin: auto;
    max-width: 1140px;
}

.default.light{
    background-color: #F7F7F7;
}

.default.light .section-title,
.default.light .section-body{
    color: black;
}

.default.dark{
    background-color: black;
}

.default.dark .section-title,
.default.dark .section-body{
    color: white;
}



/*CSS DE ARÉAS ESPECÍFICAS*/


.section-aboutUs{
    display: flex;
}

.section-aboutUs--left{
    flex: 1;
}

.section-aboutUs--left p{
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

.section-aboutUs--right{
    width: 520px;
    text-align: center;
}

.section-aboutUs--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}





.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding-left: 20px;
}

.section-service:first-child{
    border-left: 1px solid #333;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    font-size: 14px;
    color: #999;
    margin-top: 15px;
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border: 1px solid #CCC;
    background-color: #eee;
    border-radius: 20px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 14px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid #B28756;
}

.section-projects--filters li:first-child{
    border-left: 0;
}


.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 280px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-projects--photoinfo h4{
    text-transform: uppercase;
    font-weight: 600;

}

.section-projects--photoinfo p{
    text-align: center;
    padding: 5px;
    font-size: 13px;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}






.bg-team{
    background-image: url(../imagens/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px;
}

.section-team--area{
    background-color: rgba(0,0,0, 0.8);
    padding: 50px 0px;
}

.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}


.section-team .sliders{
    width: 1000vw;
    height: 100%;
}

.section-team .slide{
    width: 280px;
    height: 100%;
    display: inline-block;
    margin-right: 20px;
    height: 300px;
    background-color: white;
}

.section-team .slideArea{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
    padding: 30px;
}

.section-team--avatar{
    width: 160px;
    height: auto;
}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
}

.section-team--role{
    margin-top: 15px;
    color: #999;
    font-size: 12px;
}

.section-team--social{
    display: flex;
    margin-top: 20px;
}

.section-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: #555;
    border-radius: 50%;
    margin: 0px 10px;
    padding: 5px;
}

.section-team--social a:hover{
    background-color: #B28756;
}







.section-team--area  .sliders--pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team--area  .pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #B28756;
    margin: 0px 5px;
    cursor: pointer;
}

.section-team--area  .pointer.active{
    background-color: #B28756;
}


.section-map{
    background-image: url(../imagens/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px 0px;
}

.section-map--area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.section-map--info{
    width: 50%;
    padding: 30px;
    background-color: white;
    color: black;
}

.section-map--info-item{
    display: flex;
    align-items: center;
    color: #999;
    margin: 15px 0px;
}

.section-map--info-item-img{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    background-color: #999;
    margin-right: 15px;
}

.section-map--info-item img{
    width: auto;
    height: auto;
}




.section-feedback .sliders{
    max-width: 100vw;
    height: 100%;
    margin: auto;
}

.section-feedback .slide{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.section-feedback .slideArea{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.section-feedback--name{
    font-weight: 600;
    color: black;
    font-size: 20px;
    margin-top: 20px;
}

.section-feedback--cargo{
    font-size: 14px;
    color: #555;
    font-weight: bolder;

}

.section-feedback .quote{
    margin: 20px 0px;
}

.section-feedback--desc{
    color: #555;
    text-align: center;
    max-width: 800px;
    line-height: 25px;
    display: inline-flex;
    flex-wrap: wrap;
}


.section-feedback .sliders--pointers{
    width: 100%;
    height: 20px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.section-feedback .pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #B28756;
    margin: 0px 5px;
    cursor: pointer;
}

.section-feedback .pointer.active{
    background-color: #B28756;
}

.section-brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.section-brands--area{
    width: 120px;
    height: 70px;
    margin: 15px 20px;
}

.section-brands img{
    width: inherit;
    height: inherit;
}



.section-price{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.section-price--area{
    width: 200px;
    height: 300px;
    margin: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-price--area h4{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
}

.section-price--area h6{
    font-size: 10px;
    color: #ddd;
}

.section-price--area-info{
    padding: 5px 10px;
    margin-top: 10px;
    text-align: center;
    color: #555;
    font-weight: bolder;
    font-size: 10px;
    line-height: 15px;
}

.section-price--area-info span{
    font-size: 5px;
}

.section-price--area .button-price{
    background-color: #4d4d4d;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
    font-weight: 600;
    text-decoration: none;
}






/*Aqui Estão as tags que vão ter o efeito Reveal com o Js*/
h1, h2, .default.light, .default.dark, .section-map{
    visibility: hidden;
}

nav{
    transition: all 0.5s ease-in-out;

}



/*Responsividade - Para tablet*/

@media (min-width: 570px) and (max-width: 900px){

    .menu-img{
        width: 50px;
        padding: 5px;
        margin-right: 30px;   
        display: block;
    }
        
    nav{
        position: absolute;
        z-index: 999;
        background-color: rgba(0,0,0, 0.9);
        width: 100%;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0px;
        display: none;
    }

    .menu ul{
        flex-direction: column;
        align-items: center;
    }

    .menu li a{
        font-weight: bolder;
        height: 85px;
        font-size: 25px;
        border: 0;
    }

    .menu li.active a{
        border: 0;
        color: #B28756;
    }

    .logo{
        margin-left: 30px;
    }

    .section-aboutUs{
        flex-direction: column;
    }

    .section-aboutUs--left{
        margin: 30px;
    }

    .section-aboutUs--right{
        width: auto;
    }

    .section-services{
        flex-wrap: wrap;
    }

    .section-service{
        min-width: 50%;
        margin: 15px 0px;
    }

    .section-service:first-child{
        border-left: 0;
    }

    .section-team{
        max-width: 560px;
    }



    .section-map{
        padding: 0px 30px;
    }

    .section-map--area{
        width: auto;
    }

    .section-map--info{
        width: auto;
        background-color: white;
    }

    .section-map--info-item{
        margin-bottom: 30px;
    }


}

/*Para celular*/

@media (max-width: 570px){

    .menu-img{
        width: 50px;
        padding: 5px;
        margin-right: 30px;   
        display: block;
    }
        
    nav{
        position: absolute;
        z-index: 999;
        background-color: rgba(0,0,0, 0.9);
        width: 100%;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0px;
        display: none;
    }

    .menu ul{
        flex-direction: column;
        align-items: center;
    }

    .menu li a{
        font-weight: bolder;
        height: 70px;
        font-size: 18px;
        border: 0;
    }

    .menu li.active a{
        border: 0;
        color: #B28756;
    }

    .logo{
        margin-left: 30px;
    }


    .banner h1{
        font-size: 30px;
    }


    .section-aboutUs--right{
        margin: 0px 10px;
    }

    .section-aboutUs--right img {
        width: 100%;
    }

    .section-aboutUs{
        flex-direction: column;
    }

    .section-aboutUs--left{
        margin: 30px;
    }

    .section-aboutUs--right{
        width: auto;
    }



    .section-services{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .section-service{
        min-width: 100%;
        margin: 20px 0px;
    }

    .section-service:first-child{
        border-left: 0;
    }



    .section-projects--filters{
        margin: 0px 30px;
    }

    .section-projects--filters ul{
        text-align: center;
    }

    .section-projects--photo {
        width: 320px;
    }

    .section-projects--photoarea {
        width: 300px;
        height: 190px;
    }




    .section-team{
        max-width: 280px;
    }



    .section-map{
        padding: 0px;
        padding-bottom: 300px;
    }

    .section-map--area{
        width: auto;
    }

    .section-map--info{
        width: auto;
        background-color: white;
        padding: 20px;
    }

    .section-map--info-item{
        margin-bottom: 30px;
    }

    .section-map--info-item:last-child{
        margin-bottom: 0;
    }






}