@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat' ,Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: black;
    color: white;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}


.logoimg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #B28756;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: end;
}

.menu li,
.menu ul{
    padding: 0px;
    list-style: none;
}

.menu ul{
    display: flex;
}

.menu li a {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    padding: 0px 10px;
    height: 100px;
    display: flex;
    align-items: center;
    font-weight: 500;
    border-bottom: 5px solid transparent;

}

.menu li a.active{
    color: #B28756;
}

.menu li a:hover{
    border-bottom: 6px solid #B28756;
    color: #b28756ae;
}


.button{
    display: inline-block;
    background-color: #B28756;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
    font-weight: 600;
    text-decoration: none;
}



.banner{
    background-image: url(../imagens/bg.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0, 0.8);
}

.banner .slideArea{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 45px;
}

.banner h1 span{
    color: #B28756;
}

.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .sliders--pointers{
    width: 100vw;
    height: 20px;
    margin-top: -50px;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #B28756;
    margin: 0px 5px;
    cursor: pointer;
}

.banner .pointer.active{
    background-color: #B28756;
}




.default{
    padding: 50px 0px;

}

.default .section-title, .default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 40px;
    color: #CCC;
}

.default .section-body{
    margin: auto;
    max-width: 1140px;
}

.default.light{
    background-color: #F7F7F7;
}

.default.light .section-title,
.default.light .section-body{
    color: black;
}

.default.dark{
    background-color: black;
}

.default.dark .section-title,
.default.dark .section-body{
    color: white;
}



/*CSS DE ARÉAS ESPECÍFICAS*/


.section-aboutUs{
    display: flex;
}

.section-aboutUs--left{
    flex: 1;
}

.section-aboutUs--left p{
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

.section-aboutUs--right{
    width: 520px;
    text-align: center;
}

.section-aboutUs--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}





.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding-left: 20px;
}

.section-service:first-child{
    border-left: 1px solid #333;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    font-size: 14px;
    color: #999;
    margin-top: 15px;
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border: 1px solid #CCC;
    background-color: #eee;
    border-radius: 20px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 14px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid #B28756;
}

.section-projects--filters li:first-child{
    border-left: 0;
}


.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 280px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-projects--photoinfo h4{
    text-transform: uppercase;
    font-weight: 600;

}

.section-projects--photoinfo p{
    text-align: center;
    padding: 5px;
    font-size: 13px;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}






.bg-team{
    background-image: url(../imagens/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px;
}

.section-team--area{
    background-color: rgba(0,0,0, 0.8);
    padding: 50px 0px;
}

.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}


.section-team .sliders{
    width: 1000vw;
    height: 100%;
}

.section-team .slide{
    width: 280px;
    height: 100%;
    display: inline-block;
    margin-right: 20px;
    height: 300px;
    background-color: white;
}

.section-team .slideArea{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
    padding: 30px;
}

.section-team--avatar{
    width: 160px;
    height: auto;
}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
}

.section-team--role{
    margin-top: 15px;
    color: #999;
    font-size: 12px;
}

.section-team--social{
    display: flex;
    margin-top: 20px;
}

.section-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: #555;
    border-radius: 50%;
    margin: 0px 10px;
    padding: 5px;
}

.section-team--social a:hover{
    background-color: #B28756;
}







.section-team--area  .sliders--pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team--area  .pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #B28756;
    margin: 0px 5px;
    cursor: pointer;
}

.section-team--area  .pointer.active{
    background-color: #B28756;
}